.App {
  text-align: center;
  min-height: 100vh;

  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.App-link {
  color: #61dafb;
}
