@import url(//fonts.googleapis.com/css?family=Open+Sans);
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    min-height: 100vh;
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: white;
}

.app-header {
    text-align: center;
    min-height: 10vh;
    font-size: 22px;
}

.app-body {
    min-height: 80vh;
}

.input {
    text-align: center;
    margin: 5px;
}

.inputElement {
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.add {
    background: #f6f3ff;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 8px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; 
}

.add1 {
    background: white;
    color: brown;
    border: none;
    margin-left: 3px;
    cursor: pointer;
    background: white;
    padding: 4px 15px;
    border: 1px solid brown;
    border-radius: 3px;
}

.add1:hover {
    background: brown;
    color: white;
}

img {
    width: 35px;
    height: 35px;
}

.taskWrapper {
    width: 70%;
    height: 100px;
    background-color: #f6f3ff;
    border: 1px solid #ccc;
    margin: 2px 190px;
    border-radius: 5px;
}

h3 {
    padding: 25px;
    width: 50%;
    float: left;
}

.actions {
    text-align: center;
    width: 50%;
    float: left;
}

.delete {
    margin-right: 5px;
}
.done {
    margin-right: 5px;
}

.done1 {
    cursor: pointer;
    background: white;
    color: green;
    border: none;
    margin: 30px 0 0 2px;
    padding: 4px 15px;
    border: 1px solid green;
    border-radius: 3px;
}

.done1:hover {
    background: green;
    color: white;
}

.delete1 {
    cursor: pointer;
    background: white;
    color: red;
    border: none;
    margin-left: 2px;
    padding: 4px 15px;
    border: 1px solid red;
    border-radius: 3px;
}

.delete1:hover {
    color: white;
    background: red;
}
.edit {
    cursor: pointer;
    background: white;
    color: purple;
    border: none;
    margin-left: 2px;
    padding: 4px 15px;
    border: 1px solid purple;
    border-radius: 3px;
}

.edit:hover {
    color: white;
    background: purple;
}

.iconDone {
    color: green;
    font-size: 50px;
}
.iconDone:hover, .iconDelete:hover, .iconEdit:hover {
    font-size: 70px;
}

.iconDelete {
    color: red;
    font-size: 50px;
}

.iconAdd {
    color: white;
    font-size: 40px;
}

.iconEdit {
    color: black;
    font-size: 40px;
}

.editForm {
    display: none;
}

.container {
    max-width: 400px;
}

input {
    border: none;
    border: 1px solid brown;
}
