@import url(//fonts.googleapis.com/css?family=Open+Sans);


body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    min-height: 100vh;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.app-header {
    text-align: center;
    min-height: 10vh;
    color: #f6f3ff;
    font-size: 22px;
}

.app-body {
    min-height: 80vh;
}

.input {
    text-align: center;
    margin: 5px;
}

.inputElement {
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.add {
    background: #f6f3ff;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 8px; /* Some padding */
    font-size: 15px; /* Set a font size */
    cursor: pointer; 
}

img {
    width: 35px;
    height: 35px;
}

.taskWrapper {
    width: 500px;
    height: 100px;
    background-color: #f6f3ff;
    border: 1px solid #ccc;
    margin: 0px 700px;
    border-radius: 5px;
}

h3 {
    padding: 5px;
    text-align: center;
}

.actions {
    text-align: center;
}

.delete {
    margin-right: 5px;
}
.done {
    margin-right: 5px;
}